.searchInputs {
  margin-top: 105px;
  display: flex;
}

.search input {
  background-color: white;
  border: 5px solid grey;
  border-radius: 5px;
  font-size: 18px;
  padding: 15px;
  height: 30px;
  width: 280px;
}

input:focus {
  outline: none;
}

.search {
  display: flex;

  padding-left: 33px;
  padding-bottom: 30px;
}
