.searchInputs {
  margin-top: 105px;
  display: flex;
}

.search input {
  background-color: white;
  border: 5px solid grey;
  border-radius: 5px;
  font-size: 18px;
  padding: 15px;
  height: 30px;
  width: 280px;
}

input:focus {
  outline: none;
}

.search {
  display: flex;

  padding-left: 33px;
  padding-bottom: 30px;
}

#loop-svg {

    width: 5%;
    margin-left: 34px;
    z-index: 200;
    cursor: pointer;
  }






@media (max-width: 600px) {
  .search {

    padding-left: 0px;

  }
  #loop-svg {

    margin-right: -23px;
    width: 13%;


  }
}