.App {
  text-align: center;
  font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
  overflow-x: hidden;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  min-width: 111vw;
}

.Header-poke {
  background: linear-gradient(62deg, #f0f0 0%, #9096dc 100%);

  color: black;
  width: 100%;
  text-align: left;
  padding: 17px 0px 21px 0px;
  margin-bottom: -13px;
  font-size: 3rem;
  opacity: 0.5;
  font-weight: 500;
}

/* MAIN DIV */

.main-div {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 85px 40px 37px;
  margin-right: 130px;
  margin-top: 52px;
  background: repeating-linear-gradient(
    125deg,
    #dcd9d9,
    #f3f3f7 5px,
    #ffffff 21px,
    #ffffff 39px
  );
}

.info-div {
  background: linear-gradient(62deg, #f0f0 0%, #f7ce68 100%);
  flex: 1;
  flex-basis: 25%;
  color: black;
  background: white;
}

.search-div {
  background-image: linear-gradient(310deg, #363627 0%, #33312b 100%);
  flex: 1 1;
  width: 100%;
  margin-top: 13px;
}

.search-text {
  flex: 2 1;
  color: whitesmoke;
  text-align: left;
  padding-left: 34px;
  margin-bottom: -97px;
  font-size: 2.5rem;
}

.title-span {
  line-height: 20%;
  padding-left: 34px;
}

.svg-div {
  background: #f35900;
  width: 10%;
  margin-left: -46px;
  z-index: 100;
  border-radius: 10px;
  cursor: pointer;
}

.img-div {
  background: whitesmoke;
  width: 91%;
  height: 23vh;
  justify-content: center;
  align-items: center;
  padding-top: 47px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: rgb(0 0 0 / 19%) 0px 1px 2px, rgb(0 0 0 / 23%) 10px 0px 7px;
}

.num-div {
  text-align: left;
  margin-top: -18px;
  padding-bottom: 17px;
  background: white;
  width: 60%;
  z-index: 99999;
  position: relative;
  color: grey;
  transform: rotateX(27deg);
  clip-path: polygon(0 0, 89% 0, 100% 76%, 0 63%);
}

.type-div {
  display: flex;

  padding-bottom: 50px;
}

.type-one {
  background: orange;
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 5px;
  margin: 1px;
}

.type-two {
  background: violet;
  border-radius: 5px;
  font-size: 1.5rem;
  margin: 1px;
  line-height: 1.5;
  color: white;
  margin-left: 4px;
  position: relative;
}

.name-span {
  display: flex;
  font-size: 2.2rem;
  font-weight: 500;
}

.hash-span {
  padding-left: 5px;
}

/* Search Input */

.searchInputs {
  margin-top: 105px;
  display: flex;
}

.search input {
  background-color: white;
  border: 5px solid grey;
  border-radius: 5px;
  font-size: 18px;
  padding: 15px;
  height: 30px;
  width: 280px;
}

input:focus {
  outline: none;
}

.search {
  display: flex;

  padding-left: 33px;
  padding-bottom: 30px;
}

.dataResult {
  margin-top: 5px;
  width: 300px;
  height: 170px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  align-content: center;
  align-items: center;
  border-radius: 8px;
  z-index: 11111;
  position: relative;
  flex-wrap: wrap;

}

.dataResult::-webkit-scrollbar {
  display: none;
}

.dataResult .dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}

.dataItem p {
  margin-left: 10px;
}


/* End Serach Input */

#loop-svg {
  width: 5%;
  margin-left: 34px;
  z-index: 200;
  cursor: pointer;
}

.dataResultTwo {
  margin-top: 5px;
  width: 300px;
  height: 170px;
  background-color: aliceblue;
  box-shadow: rgb(255 0 21 / 82%) 0px 5px 116px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  border-radius: 8px;
  margin-left: -60px;
  z-index: 999999;
  animation: wiggle 0.5s;
  animation-iteration-count: 6;

}

.dataResultTwo::-webkit-scrollbar {
  display: none;
}

@keyframes wiggle {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}


@media (max-width: 915px) {
  svg {
    display: none;
  }
  #loop-svg {
    display: none;
  }
  .svg-div {
    display: none;
  }

  .dataResult {
    animation: wiggle 0.5s;
    animation-iteration-count: 6;
  }
}

@media (max-width: 600px) {
  .App-header {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .main-div {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .svg-div {
    width: 32%;
    margin-left: -16px;
    margin-right: 77px;
  }

  .info-div {
    flex-basis: 300px;
    padding-top: 40px;
  }

  .img-div {
    width: auto;
  }
  .search {
    padding-left: 0px;
  }
  #loop-svg {
    margin-right: -34px;
    width: 13%;
  }

  .dataResult {
    display: flex;
    position: absolute;
    margin-left: -297px;
    margin-top: 220px;
    animation: wiggle 0.5s;
    animation-iteration-count: 6;
  }

  svg {
    display: none;
  }
  #loop-svg {
    display: none;
  }
  .svg-div {
    display: none;
  }

  .search input {
    margin-left: 30px;
  }
}
